# Ignore compiled Python files
*.pyc

# Ignore Maya project files
*.ma
*.mb

# Ignore Maya backup files
*~.ma
*~.mb

# Ignore Maya render output files
images/
*.swatch
*Swatches/
.mayaswatches/
*.tx
*.nfs*

# Ignore temporary files and directories
temp/
tmp/